<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		
	</title>
	<style type="text/css">
		input{
			background-color: rgb(139, 103, 103);
		}
        body{
            background-color: rgb(123, 127, 179);
        }
	</style>
</head>
<body>
	<div id="main">

        <h3>
			Inicio de sesión {{ name_app }}  
		</h3>
    
        <form @submit.prevent = "login" v-if="!isValid">
            <fieldset>
                <label>
                    Email
                </label>
                <input type="email" v-model="email">
            </fieldset>
            
            <br>

		
        <br>
            <fieldset>
                <label>
                    Password: 
            </label>
            <input type="password" v-model=" password">
            </fieldset>

                <button type="submit">
                    Registrar
                </button>
        ></form>

		<hr>

        <h2 v-if = "isValid" >
                Bienvenido
        </h2>


	</div>
	
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script>
	        const { createApp, ref } = Vue
        createApp({
            data() {
                const email = ref('');
                const password = ref('');
                const isValid = ref(false);

                    return {
                        email,
                        password,
                        isValid
                    }
            },
            methods: {

                login() {

                    console.log(this.email),
                    console.log(this.password)

                        fetch('users.json')
                            .then(response => response.json())
                            .then(users => {
                                users.forEach(user => {
                                    if (user.email === this.email && user.password === this.password) {
                                        this.isValid = ref(true);
                                        console.log(this.isValid)
                                    }
                                });
                            });

                }
            }
        }).mount('#main')
	</script>

</body>

</html>